<footer>
    Copyright &copy; 2022 Zahin
    <a href='https://github.com/Wase-Zahin'>
        <img
            className='icon'
            src="github-icon"
            alt='github'>
        </img>
    </a>
</footer>