@font-face {
    font-family: "Noto Serif";
    src: url("./NotoSerif-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: "Noto Serif";
}

hr {
    width: 100%;
}

p,
h1,
h2,
h3,
a,
label,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

.header {
    font-size: 2.6rem;
    margin: 1rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>nav>ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.nav>nav>ul>li:hover {
    cursor: pointer;
}

main {
    padding: 2.5rem;
}

main>h2 {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

main>form {
    padding: 2rem;
    box-sizing: border-box;
}

main>form>input,
main>form>textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

main>form>textarea {
    height: 10rem;
}

footer {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.blogsHeader {
    padding-bottom: 2rem;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr 300px));
    gap: 2.5rem;
}

.single h3 {
    font-size: 1.4rem;
}
.single h3:hover {
    transform: scale(1.01,1.01);
    color: crimson;
}

.single {
    display: flex;
    padding-left: 2rem;
    border-left: 6px solid crimson;
    flex-direction: column;
    gap: 1.2rem;
}

.details {
    display: flex;
    justify-content: space-between;
}

.delete {
    padding: 0.6rem;
    border-radius: 50%;
    border: 1px solid black;
    background-color: crimson;
}

.delete:hover {
    transform: scale(1.1,1.1);
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}